Connected Services/MSGService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MessangerServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MessangerServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Groups" nillable="true" type="tns:ArrayOfGroups" />
      <xs:element minOccurs="0" name="LastOnline" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfGroups">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Groups" nillable="true" type="tns:Groups" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroups" nillable="true" type="tns:ArrayOfGroups" />
  <xs:complexType name="Groups">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsPublic" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Groups" nillable="true" type="tns:Groups" />
  <xs:simpleType name="ResultCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServerConnectionLost" />
      <xs:enumeration value="IncorrectPassword" />
      <xs:enumeration value="IncorrectEmail" />
      <xs:enumeration value="IncorrectUserName" />
      <xs:enumeration value="ServerError" />
      <xs:enumeration value="NoMatching" />
      <xs:enumeration value="ElementIsAlreadyCreated" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="ClientConnectionLost" />
      <xs:enumeration value="InProccess" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultCodes" nillable="true" type="tns:ResultCodes" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastOnline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>