Connected Services/ServiceReference/service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DatabaseModule" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DatabaseModule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="CreationDate_x0040_" nillable="true" type="xs:dateTime" />
      <xs:element name="Email_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Id_x0040_" type="xs:int" />
      <xs:element name="LastOnline_x0040_" nillable="true" type="xs:dateTime" />
      <xs:element name="Password_x0040_" nillable="true" type="xs:string" />
      <xs:element name="Username_x0040_" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>