Connected Services/ServiceReference/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientModule" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientModule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ResultCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServerConnectionLost" />
      <xs:enumeration value="IncorrectPassword" />
      <xs:enumeration value="IncorrectEmail" />
      <xs:enumeration value="IncorrectUserName" />
      <xs:enumeration value="ServerError" />
      <xs:enumeration value="NoMatching" />
      <xs:enumeration value="ElementIsAlreadyCreated" />
      <xs:enumeration value="Success" />
      <xs:enumeration value="ClientConnectionLost" />
      <xs:enumeration value="InProccess" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultCodes" nillable="true" type="tns:ResultCodes" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOline" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastOnline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>